.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  color: blue;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 1.7rem;
  background-color: pink;
  padding: 20px;
  height: 200px;
  width: 400px;
  border-radius: 10px;
}

strong {
  color: green;
}