<div class="container">
  <div class="cta">
    <div class="cta-info">
      <div class="cta-box">
        <img class="baker" src="assets/baker.png" alt="baker">
        <h1>Cool Scoops Ice Cream Shop</h1>
        <p>
          A cozy local ice cream shop offering a variety of classic and creative flavors, with options for cones, cups, and sundaes. Perfect for family outings and sweet treats.
        </p>
        <div class="cta-buttons">
          <button (click)="sharedService.goToRoute('/contact')">Order Now</button>
        </div>
      </div>
      <div class="checks">
        <div class="check">
          <mat-icon aria-hidden="false" aria-label="check" fontIcon="check"></mat-icon> Made to order
        </div>
        <div class="check">
          <mat-icon aria-hidden="false" aria-label="check" fontIcon="check"></mat-icon> Dye free
        </div>
        <div class="check">
          <mat-icon aria-hidden="false" aria-label="check" fontIcon="check"></mat-icon> Aluminum free
        </div>
      </div>
    </div>
    <img class="cones" src="assets/cones.webp" alt="ice cream cones">
  </div>
</div>
