$theme-color-main: rgb(255, 105, 130);
$theme-color-main-shadow: rgb(219, 83, 106);

.active {
  color: $theme-color-main;
  transform: translateY(-3px);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.fade {
  opacity: 0.3;
  pointer-events: none;
}

a {
  text-decoration: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInAndSlideInBottom {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}